.SuccessCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: #e6e3e5;
  text-align: center;

  .ui.card.Card {
    height: 411px;

    .header {
      margin-bottom: 0;
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .SuccessCardMainContent {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}